<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
       
        <title>Mausam-{{title}}</title>

    </head>
    <body>
        <div class="main-content"> 
        {{>header}}
        
        <h2>
            This is {{name}}'s personal dome.
            If you want to check the weather of any place on earth, just type.
        </h2>
        <img class=portrait src="/img/ruby.jpg">
</div>
        {{>footer}}
    </body>
</html>