<!DOCTYPE html>
<html>
    <head> <link rel="stylesheet" href="/css/styles.css">
        <title>Mausam-{{title}}</title>
    </head>
    <body>
        <div class="main-content"> 
        {{>header}}
        
        <h2>
            Tell me what you seek!!
        </h2>
        </div>
        {{>footer}}
    </body>
</html>